.jumbotron{background-color: olive; color: darksalmon;
    font-family: 'Lobster', cursive;}
body{ background-color: #FFB549}
.btn{font-family: 'Lobster', cursive;}
.form-control{font-family: 'Major Mono Display', monospace;}
.label{color: #325806;}
.form-check-label{
    color: #325806;}

